/* Financepage.css */

.finance-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .f_h1{
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .custom-label {
    display: block;
    font-size: 16px;
  }
  
  .custom-slider {
    width: 100%;
  }
  
  .custom-value {
    display: block;
    text-align: center;
    font-size: 18px;
  }
  
  .custom-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
  }